<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- springmvc的三大组件 在 annotation 中的配置 -->

    <!-- 第一种 什么也不用加，有默认配置 ，但是已经过时 -->

    <!-- 第二种 手动添加 -->
    <!-- 推荐使用的注解映射器 -->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->
    <!-- 推荐使用的注解适配器 -->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->

    <!--  第三种  注解配置最终方案 -->
    <!-- 注解驱动，替代推荐使用的注解映射器和适配器，并提供了对json的支持 -->
    <mvc:annotation-driven/>

    <!-- <bean name="/hello.do" class="com.atguigu.springmvc.controller.HelloController" /> -->

    <!-- 配置注解扫描，和Spring的配置方式一样 -->
    <context:component-scan base-package="com.atguigu"/>

    <!-- 配置视图解析器 -->
    <!-- Example: prefix="/WEB-INF/jsp/", suffix=".jsp", viewname="test" -> "/WEB-INF/jsp/test.jsp"  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>