<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd">

    <!-- 外部引用 Car 类 -->
    <bean id="car" class="com.com.atguigu.bean.Car">
        <property name="carNo" value="1"></property>
        <property name="name" value="aa" />
    </bean>

    <bean id="p8" class="com.com.atguigu.bean.Person">
        <property name="id" value="1"/>
        <property name="name" value="a"/>
        <!-- ref属性通过设置id值，将指定的bean对象赋值给属性-->
        <property name="car" ref="car"/>
    </bean>

    <!-- 内部引用 Car 类 -->
    <bean id="p9" class="com.com.atguigu.bean.Person">

        <property name="id" value="2"/>
        <property name="name" value="b"/>
        <property name="car" >
            <bean id="car02" class="com.com.atguigu.bean.Car">
                <property name="name" value="car2"/>
                <property name="carNo" value="1"/>
            </bean>
        </property>
    </bean>

    <!-- list 属性赋值 -->
    <bean id="p10" class="com.com.atguigu.bean.Person">
        <property name="id" value="1"/>
        <property name="name" value="c"/>
        <property name="list" >
            <list>
                <value> item1</value>
                <value> item2</value>
                <value> item3</value>
                <bean id="car3" class="com.com.atguigu.bean.Car">
                    <property name="carNo" value="3"/>
                    <property name="name" value="car03" />
                </bean>
            </list>
        </property>
    </bean>

    <!-- map 属性配置 -->
    <bean id="p11" class="com.com.atguigu.bean.Person">
        <property name="id" value="1"></property>
        <property name="map" >
            <map>
                <entry key="key1" value="value1"/>
                <entry key="key2" value-ref="car"/>
            </map>
        </property>
    </bean>

    <!-- props 标签标示配置Properties 类型给属性赋值 -->
    <bean id="p12" class="com.com.atguigu.bean.Person" >
        <property name="id" value="12"/>
        <property name="props" >
            <props>
                <prop key="user"> root</prop>
                <prop key="password"> root</prop>
            </props>
        </property>
    </bean>

    <!-- set -->
    <bean id="pset" class="com.com.atguigu.bean.Person">
        <property name="id" value="100" />
        <property name="set">
            <!--
                set标签配置一个Set集合赋值给属性
             -->
            <set>
                <!-- value 表示集合中一个字符串值 -->
                <value>value1</value>
                <value>value2</value>
                <!-- ref 表示引用一个bean对象 -->
                <ref bean="car"/>
            </set>
        </property>
    </bean>

    <!-- util 名称空间 -->
    <util:list id="list01">
        <value > list01</value>
        <value >car</value>
        <ref bean="car"></ref>
    </util:list>

    <bean id="p14" class="com.com.atguigu.bean.Person">
        <property name="id" value="1" ></property>
        <property name="list" ref="list01"/>
    </bean>

    <!-- 给bean的级联属性赋值 -->
    <bean id="car1" class="com.com.atguigu.bean.Car">
        <property name="carNo" value="京B531212" />
        <property name="name" value="冰利"/>
    </bean>

    <bean id="p15" class="com.com.atguigu.bean.Person">
        <property name="id" value="14" />
        <property name="car" ref="car1" />
        <!-- spring中可以使用级联属性方式赋值，但，赋值前这个子对象一定要先有值 -->
        <property name="car.carNo" value="京A123412"/>
    </bean>

    <!--
		配置调用静态工厂方法创建Bean对象
			class 配置工厂类的全类名
			factory-method 调用工厂类的哪个方法
	 -->
    <bean id="p16" class="com.com.atguigu.factory.PersonFactory" factory-method="createPerson" />

    <!--
    配置调用 实例化 工厂方法创建Bean对象
    1、在spring容器中创建一个bean对象
             2、配置调用工厂实例的方法
         -->

    <bean id="personFactory" class="com.com.atguigu.factory.PersonFactory"/>
    <!--
        class属性和factory-method组合是静态工厂方法
        factory-bean 和 factory-method 组合是工厂实例方法


        factory-bean 使用哪个bean对象做为工厂实例
        factory-method 调用工厂类实例的哪个方法
     -->
    <bean id="p17" factory-bean="personFactory" factory-method="createPerson2"/>

    <!--
		如果指定的Class是实现了Spring的FactoryBean接口，
			Spring容器本身会自动的判断，如果有实现这个FactoryBean接口，
			创建对象的时候，就会调用 getObject()返回对象
	 -->
    <bean id="p18" class="com.com.atguigu.factory.PersonFacotryBean"></bean>


    <!--通过继承实现bean配置信息的重用-->
    <bean id="parent" class="com.com.atguigu.bean.Person">
        <property name="id" value="100" />
        <property name="name" value="我是父亲" />
        <property name="list">
            <list>
                <value>list1</value>
                <value>list2</value>
                <value>list3</value>
            </list>
        </property>
    </bean>
    <bean id="p19" parent="parent">
        <property name="name" value="我是子" />
    </bean>


    <!--
	abstract="true"表示这个bean，不能被实例化，而只能被继承使用
	 -->
    <bean id="parent2" class="com.com.atguigu.bean.Person" abstract="true">
        <property name="id" value="100" />
        <property name="name" value="我是父亲abstract" />
        <property name="list">
            <list>
                <value>list1</value>
                <value>list2</value>
                <value>list3</value>
            </list>
        </property>
    </bean>

    <!-- depends-on  依赖 -->
    <bean id="p20" parent="parent">
        <property name="name" value="我是abstract子" />
    </bean>

    <bean id="c" class="com.com.atguigu.bean.C" />
    <bean id="b" class="com.com.atguigu.bean.B" />
    <bean id="a" class="com.com.atguigu.bean.A" depends-on="b,c"/>

    <!-- 基于xml配置文件的自动注入 -->

    <!--
      autowire 属性设置是否自动查找bean对象并给子对象赋值

            default 和 no 表示不自动查找并注入（你不赋值，它就null）
            byName 	是指通过属性名做为id来查找bean对象，并注入
                        1、找到就注入
                        2、找不到就为null
            byType  是指按属性的类型进行查找并注入
                        1、找到一个就注入
                        2、找到多个就报错
                        3、没有找到就为null
            constructor 是指按构造器参数进行查找并注入。
                        1、先按照构造器参数类型进行查找并注入
                        2、如果按类型查找到多个，接着按参数名做为id继续查找并注入。
                        3、按id查找不到，就不赋值。-->
    <bean id="p21" class="com.com.atguigu.bean.Person" autowire="constructor">
        <property name="name" value="p21" />
    </bean>


    <!--

    Scope 属性设置对象的域
                singleton      表示单例（默认）
                                1、Spring 容器创建的时候就会常见Bean对象
                                2、每次调用的getBean 都返回spring 容器的唯一一个对象

                prototype       表示多例
                                1、多例在Spring 容器别创建的时候不会跟着一起被创建
                                2、每次调用getBean 都会创建一个新对象返回

                request				在一次请求中，多次调用getBean方法都是返回同一个实例。

								getBean("p20"); 底层大概的实现原理

								Object bean = request.getAttribute("p20");
								if (bean == null) {
									bean = new 对象();
									request.setAttribute("p20",bean);
								}
								return bean;


			    session				在一个会话中，多次调用getBean方法都是返回同一个实例。

								getBean("p20"); 底层大概的实现原理

								Object bean = session.getAttribute("p20");
								if (bean == null) {
									bean = new 对象();
									session.setAttribute("p20",bean);
								}
								return bean;

    -->


    <bean id="p22" class="com.com.atguigu.bean.Person" scope="singleton" >
    </bean>

    <bean id="p23" class="com.com.atguigu.bean.Person" scope="prototype" >
    </bean>

</beans>
