<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">


<!-- 1、普通配置 -->
<!--          <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" >
              <property name="username" value="root" />
              <property name="password" value="root" />
              <property name="driverClassName" value="com.mysql.jdbc.Driver" />
              <property name="url" value="jdbc:mysql://localhost:3306/test" />
              <property name="initialSize" value="5" />
              <property name="maxActive" value="10" />
          </bean>-->

<!--    2、 Spring引入单独的jdbc.properties配置文件         -->

    <!-- PropertyPlaceholderConfigurer类专门用来加载properties属性配置文件 -->
<!--    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        &lt;!&ndash; location属性设置你要加载的文件路径
                    classpath: 表示从类路径下搜索
        &ndash;&gt;
        <property name="location" value="classpath:jdbc.properties" />
    </bean>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
        <property name="driverClassName" value="${driverClassName}" />
        <property name="url" value="${url}" />
        <property name="initialSize" value="${initialSize}" />
        <property name="maxActive" value="${maxActive}" />
    </bean>-->

    <!-- 标签用来代替PropertyPlaceholderConfigurer加载属性配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!-- 这里需要 将properties username 改成 user ,
        因为 username 会与计算机中的 username 与 password 重复， context 名称空间会优先使用 计算机的 username 与 password   -->
        <property name="username" value="${user}" />
        <property name="password" value="${password}" />
        <property name="driverClassName" value="${driverClassName}" />
        <property name="url" value="${url}" />
        <property name="initialSize" value="${initialSize}" />
        <property name="maxActive" value="${maxActive}" />
    </bean>
</beans>