<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


        <!--  init-method 配置初始化方法(bean 对象创建之后)
              destroy-method 配置销毁方法（在Spring 容器关闭的时候，只对单例有效）
         -->
        <bean  class="com.com.atguigu.bean.Person" init-method="init" destroy-method="destroy" >
            <!-- ioc 创建 默认使用 无参构造 -->

<!--            <property name="name" value="aaa" />-->
<!--            <property name="age" value="11" />-->

            <constructor-arg name="name" value="aa" />
            <constructor-arg name="age" value="11" />
        </bean>

    <bean class="com.com.atguigu.processor.MyBeanPostProcessor" />


</beans>