<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">


    <!-- 配置包扫描
            base-package	设置需要扫描的包名（它的子包也会被扫描）
            use-default-filters 取消默认的规则
     -->
<!--   <context:component-scan base-package="com.com.com.atguigu.pojo.atguigu" use-default-filters="false">-->
<!--       &lt;!&ndash; context:include-filter 设置包含的内容 &ndash;&gt;-->
<!--       <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>-->
<!--       &lt;!&ndash; context:exclude-filter 设置排除的内容 &ndash;&gt;-->
<!--       <context:exclude-filter type="assignable" expression="com.com.com.atguigu.pojo.atguigu.service.BookService"/>-->
<!--   </context:component-scan>-->

    <context:component-scan base-package="com.com.com.atguigu.pojo.atguigu" />


</beans>
